# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
venv/
.env.local

# Ignore datasets and outputs
backend/data/images
backend/processed_images/
*.csv
*.zip
*.tar.gz
!backend/test_image.jpg  # for test_image.jpg etc.

# Ignore model weights if you don't want them in GitHub
*.pb

# VSCode settings (optional)
.vscode/
