/* Header section */
.header {
  padding: 20px;
  background-color: white;
}

.header h1 {
  /* font-family: "Garamond", serif; */
  font-family: "IM Fell English", serif;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: bold;
  color: #1a3d1a; /* Dark green color */
  text-align: center;
}

.content {
  font-size: 14px;
  color: #333;
  padding-left: 200px;
  padding-right: 200px;
}

/* Mission Section */
.mission-section {
  padding: 20px;
}

.mission-section h2 {
  font-size: 22px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "IM Fell English", serif;
  letter-spacing: 1px;
}

/* Mission container */
.mission-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Mission cards */
.mission-card {
  width: 225px;
  /* padding: 20px; */
  /* background-color: #1f911f; */
  background-color: #234a35;
  /* background-color: #2CA577; */
  border-radius: 15px;
  color: white;
  text-align: center;
  font-size: 16px;
  box-shadow: 8px 8px 0px rgba(47, 43, 43, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
  height: 300px;
  /* border: 3px solid black;   */
  /* outline: 3px solid rgb(39, 61, 39);   /* Outer Border */
  /* outline-offset: 0px ; */
}

.mission-card img {
  padding-top: 20px;
  width: 80%;
  height: 170px;
  /* border-radius: 10px; */
  object-fit: cover;
  /* border-radius: 8px; */
}

.text-Color {
  color: white;
  font-family: "IM Fell English", serif;
  text-align: center;
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 17px;
  font-weight: 100;

  /* letter-spacing: 1px; */
}

.mission-card:hover {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

/* Responsive styles */
@media (max-width: 768px) {
  .mission-container {
    flex-direction: column;
    align-items: center;
  }
}
